/* Reset some default browser styles */
body, h1, h2, ul, li, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif; /* Change to your preferred Google Font */
    background-color: #f0f0f0;
}

/* Hero Section Styles */
.hero {
    position: relative;
    text-align: center;
    color: #333; /* Updated text color for better readability */
}

.hero img {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    object-position: center 80%;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    font-size: 2.5em;
    font-weight: 700; /* Increased font weight for emphasis */
}

/* Navigation Styles */
nav {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}

/* Product Showcase Styles */
.product-showcase {
    text-align: center;
    padding: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 10%;
    margin-top: 40px;
}

/* Model Viewer Styles */
.model-container {
    position: relative;
}

model-viewer {
    width: 100%;
    max-width: 800px;
    height: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-info {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-info-row {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.HotspotAnnotation {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

/* AR Button Styles */
#ar-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#ar-prompt {
    text-align: center;
    margin-top: 10px;
}

#ar-prompt img {
    width: 50px;
    height: 50px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-logo img {
    width: 100px; /* Adjust as needed */
}

.contact-info,
.social-media {
    text-align: center;
}

.social-media a {
    margin-right: 10px;
}

.footer-bottom {
    margin-top: 20px;
    text-align: center;
}
